# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib



# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
/test_data
/configs

/parse_Excel_convertTo_Json
/parse_Excel_loadTo_Sql
/ec_agent

.idea/




